<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<jsp-config>  
        <jsp-property-group>  
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
			<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>  
        </jsp-property-group>  
    </jsp-config>	
	<servlet>
		<servlet-name>tradutor</servlet-name>
		<servlet-class>br.usp.each.wsml2pddl.TradutorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tradutor</servlet-name>
		<url-pattern>/tradutor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>br.usp.each.wsml2pddl.DownloadServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>projeto.jsp</welcome-file>
	</welcome-file-list>
</web-app>
